* {
    box-sizing: border-box;
}
body{
    align-items: center;
    background-color:rgb(0,0,0,0.4)
}

#header{
    display:flex;
    padding: 20px 30px;
    align-items: center;
    flex-direction:row;
    justify-content:center;
    color:rgba(10, 7, 7);
    font-size:larger;
    font-family: 'Courier New', Courier, monospace;
}
#modalContainer{
    background-color:rgba(0,0,0,0.5);
    width:600px;
    max-width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    border-radius:5px;

}

#playerModal{
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    flex-direction:column;
    border-radius:5px;
    background-color: rgba(0,0,0,0.5);
    color:rgb(255,255,255,0.8);
    padding:10px 10px;
    border:1px solid black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.9)


}

#buttonContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5px;
}

button{
    padding:5px 10px;
    margin:5px;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius:5px;
    font-size:large;
}
#mainContainer{
    display:flex;
    align-items: center;
    justify-content: center;

}

#board{
    display:grid;
    color:gray;
    border:1px solid white;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height:600px;
    width:600px;
    
    
    
}

.sector{
    align-items:center;
    width:auto;
    height:auto;
    background-color: rgb(51, 86, 104);
    border: 1px solid gray;
}